<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>OAuthJWT</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
<!--    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>-->
<!--    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>-->
</head>
<body>
<h1>Hello</h1>
<div style="width: 30%">
    <div style="display: flex; flex-direction: column">
        <h2>sign in</h2>
        <input placeholder="email or username">
        <input placeholder="password">
        <div>
            <button>log in</button>
        </div>
    </div>
    <div style="display: flex; flex-direction: column">
        <h2>Or register</h2>
        <input placeholder="email">
        <input placeholder="username">
        <input placeholder="name">
        <input placeholder="surname">
        <input placeholder="age">
        <input placeholder="password">
        <input placeholder="confirm password">
        <div>
            <button>register</button>
        </div>
    </div>
    <div>
        <h2>Login by Google</h2>
        <a href="/private/googleaccount/info">Click to login</a>
    </div>
</div>
</body>
</html>